@charset "UTF-8";
@import url(bootstrap-grid.min.css);
@import url(animate.min.css);
@import url(owl.carousel.css);
@import url(owl.theme.css);
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent; }

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

nav,
main,
aside,
figure,
footer,
header,
section,
summary,
article,
details,
figcaption {
  display: block; }

video,
audio,
canvas {
  display: inline-block; }

[hidden],
audio:not([controls]) {
  display: none; }

body {
  height: 100%; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

input,
select,
button,
a:hover,
textarea,
a:active {
  outline: 0; }

img,
abbr,
input,
button,
iframe,
textarea {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

input,
button,
select,
textarea,
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input,
button,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  -webkit-transition: border linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  transition: border linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  transition: border linear .2s, box-shadow linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

input,
button {
  line-height: normal; }

button,
label[for],
[type=reset],
[type=button],
[type=submit] {
  cursor: pointer; }

button,
[type=reset],
[type=button],
[type=submit] {
  -webkit-appearance: button; }

body,
[disabled] {
  cursor: default; }

input,
button,
select,
textarea,
[type=radio],
[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
input,
button,
select,
figure,
textarea,
figcaption {
  margin: 0; }

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
figure,
figcaption,
[type=radio],
[type=checkbox] {
  padding: 0; }

textarea {
  resize: none;
  overflow: auto; }

ol,
ul {
  list-style: none; }

img,
textarea {
  vertical-align: top; }

body, html {
  overflow-x: hidden; }

body {
  color: #262626;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif; }
  body.overflow-hidden {
    overflow: hidden; }
  body.shadow:after {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #dcdcdc;
    z-index: 700; }

.nop {
  padding: 0 !important; }

.row > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix, .services, .price, .footer-inner-4, .easter-zone {
  clear: both; }
  .clearfix:after, .services:after, .price:after, .footer-inner-4:after, .easter-zone:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (max-width: 767px) {
  .invisible {
    visibility: visible !important; } }

a, a:active {
  outline: none !important; }

header {
  position: relative;
  padding: 0 2.5%;
  background-image: url("../img/bg-header.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }
  @media (min-width: 1200px) and (max-width: 1500px) {
    header {
      font-size: 80%; } }
  @media screen and (max-width: 1199px) {
    header {
      height: 600px;
      font-size: 80%; }
      header nav.menu li a {
        padding: 10px; } }
  @media screen and (max-width: 767px) {
    header {
      height: 400px; } }

.header-inner {
  max-width: 1200px;
  margin: 0 auto; }

.img-responsive, .services .serv-inner .serv-caption-box .img-caption {
  max-width: 100%;
  height: auto; }

.btn-style, .price-box .price-item .price-item-inner .price__bottom .btn-price, .form-box .main-form .btn-form {
  display: table;
  background-color: #E40005;
  background-image: url("../img/btn-bg.png");
  -webkit-box-shadow: 0 4px 0 #cb0004;
          box-shadow: 0 4px 0 #cb0004;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .btn-style:hover, .price-box .price-item .price-item-inner .price__bottom .btn-price:hover, .form-box .main-form .btn-form:hover {
    background-color: #ff181d; }
  .btn-style:active, .price-box .price-item .price-item-inner .price__bottom .btn-price:active, .form-box .main-form .btn-form:active {
    -webkit-box-shadow: 0 2px 0 #da0005;
            box-shadow: 0 2px 0 #da0005; }

.logo img {
  width: 100%;
  margin-top: 25px;
  max-width: 335px;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in; }
  @media screen and (max-width: 767px) {
    .logo img {
      max-width: 200px; } }

.menu, .contact-top-box {
  margin-top: 50px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .menu, .contact-top-box {
      margin-top: 25px; } }

.logo-box {
  position: absolute; }

.header-animate {
  z-index: 99; }
  .header-animate.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 85%; }
    .header-animate.fixed .logo img {
      max-width: 120px;
      display: table;
      margin: 0 auto; }
    .header-animate.fixed nav.menu {
      margin-top: 25px;
      margin-bottom: 20px; }
      .header-animate.fixed nav.menu li a {
        color: #fff; }
        .header-animate.fixed nav.menu li a:hover {
          border-color: #fff; }
    .header-animate.fixed .contact-top-box {
      margin-top: 10px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .header-animate.fixed .contact-top-box {
          margin-top: -60px; } }
      .header-animate.fixed .contact-top-box .phone-top, .header-animate.fixed .contact-top-box .if-quest-is-true {
        color: #fff; }

.btn-mobile {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 43px;
  height: 36px;
  z-index: 999;
  overflow: hidden; }
  .btn-mobile:before, .btn-mobile:after, .btn-mobile .spin {
    position: absolute;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background: #000;
    display: block;
    left: 0;
    right: 100%; }
  .btn-mobile:before {
    top: 0; }
  .btn-mobile:after {
    bottom: 0; }
  .btn-mobile .spin {
    top: 50%;
    margin-top: -2px; }
  .btn-mobile.active:before, .btn-mobile.active:after, .btn-mobile.active .spin {
    background: #ffa925; }
  .btn-mobile.active:before {
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
    top: 50%;
    margin-top: -2px; }
  .btn-mobile.active:after {
    -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg);
    top: 50%;
    margin-top: -2px; }
  .btn-mobile.active .spin {
    left: auto;
    right: -50px; }
  @media screen and (min-width: 768px) {
    .btn-mobile {
      display: none; } }

nav.menu li a {
  color: #262626;
  text-decoration: none;
  display: block;
  font-weight: bold; }

@media screen and (min-width: 768px) {
  nav.menu li {
    display: inline-block;
    margin-right: 5px; }
    nav.menu li a {
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      text-transform: uppercase;
      margin: 1px 0;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      padding: 10px 20px;
      font-size: 1.2em;
      border: 2px solid transparent; }
      nav.menu li a.active, nav.menu li a:hover {
        border-color: #262626; } }

@media screen and (max-width: 767px) {
  nav.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    opacity: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: 998;
    padding-top: 70px; }
    nav.menu li a {
      font-size: 20px;
      text-align: center;
      display: table;
      margin: 5px auto; }
      nav.menu li a.active, nav.menu li a:hover {
        background: #262626;
        color: #fff; }
    nav.menu.show {
      opacity: 1;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0); } }

.text-preview {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  font-size: 3.4em;
  margin: 0 auto;
  color: transparent;
  -webkit-background-clip: text !important;
  font-family: arial;
  font-weight: 700;
  background-size: contain;
  background-repeat: no-repeat;
  width: inherit;
  background-position: center; }
  @media (min-width: 768px) and (max-width: 1000px) {
    .text-preview {
      font-size: 3em; } }
  @media screen and (max-width: 767px) {
    .text-preview {
      font-size: 1.7em; } }
  @media screen and (max-width: 500px) {
    .text-preview {
      font-size: 1.2em; } }

.btn-go-box {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 15%;
  left: 0;
  margin: 0 auto;
  text-align: center; }
  .btn-go-box .btn-go {
    position: relative;
    background: transparent;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    border: none;
    padding: 0 20px;
    line-height: 55px;
    color: #ffa925;
    font-size: 1.65em;
    font-weight: bold;
    z-index: 1; }
    .btn-go-box .btn-go:hover {
      color: #fff; }
      .btn-go-box .btn-go:hover:after {
        height: 100%; }
    .btn-go-box .btn-go:after {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: #ffa925;
      z-index: -1; }

.contact-top-box {
  margin-left: 50px;
  padding: 5px 0;
  float: right;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in; }
  @media (min-width: 768px) and (max-width: 991px) {
    .contact-top-box {
      margin-top: -50px;
      margin-right: 30px;
      display: table;
      float: right; } }
  @media screen and (max-width: 991px) {
    .contact-top-box .phone-top:before {
      display: none !important; } }
  @media (min-width: 501px) and (max-width: 767px) {
    .contact-top-box {
      margin-right: 50px;
      float: right; } }
  @media screen and (max-width: 767px) {
    .contact-top-box {
      margin-top: 15px;
      margin-right: 60px; } }
  .contact-top-box .phone-top {
    position: relative;
    color: #262626;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold; }
    .contact-top-box .phone-top:before {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 25px;
      height: 25px;
      background-position: -112px -82px;
      content: '';
      position: absolute;
      top: 10px;
      left: -40px; }
  .contact-top-box .if-quest-is-true {
    color: #9e9e9e;
    font-size: .9em;
    margin-left: 3px; }

.services .serv-inner {
  padding: 3% 5%; }
  .services .serv-inner > [class^=col-]:nth-child(2) .serv-caption-box {
    -webkit-animation-delay: .25s;
            animation-delay: .25s; }
  .services .serv-inner > [class^=col-]:nth-child(3) .serv-caption-box {
    -webkit-animation-delay: .45s;
            animation-delay: .45s; }
  .services .serv-inner > [class^=col-]:nth-child(4) .serv-caption-box {
    -webkit-animation-delay: .65s;
            animation-delay: .65s; }
  .services .serv-inner .serv-caption-box {
    padding: 10px;
    max-width: 300px;
    margin: 0 auto; }
    .services .serv-inner .serv-caption-box .h2-caption {
      font-size: 1.7em;
      word-wrap: normal; }
    @media screen and (max-width: 991px) {
      .services .serv-inner .serv-caption-box .h2-caption {
        font-size: 1em; } }
    @media screen and (max-width: 767px) {
      .services .serv-inner .serv-caption-box .img-caption {
        display: block;
        margin: 0 auto; }
      .services .serv-inner .serv-caption-box .h2-caption {
        text-align: center; } }

.our-services {
  background-image: url("../img/bg-center.jpg");
  background-repeat: no-repeat;
  background-position: top right; }
  @media screen and (min-width: 1199px) {
    .our-services {
      height: 908px; } }
  @media screen and (max-width: 767px) {
    .our-services {
      background-size: cover;
      height: auto; } }

.serv-text-preview {
  color: #584747;
  padding: 0 0 3% 8%; }
  .serv-text-preview .h2-text-preview {
    font-size: 4.4em;
    line-height: 50px;
    margin-bottom: 10px; }
  .serv-text-preview .p-text-preview {
    letter-spacing: 2px;
    font-size: 3.3em; }
  @media screen and (max-width: 991px) {
    .serv-text-preview {
      font-size: 70%; } }
  @media screen and (max-width: 767px) {
    .serv-text-preview {
      font-size: 55%;
      padding: 10px 25px; } }

.our-services-inner {
  padding: 1.7% 0 3% 8vw; }
  .our-services-inner .serv-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 260px;
    margin-bottom: 30px; }
    @media screen and (min-width: 992px) {
      .our-services-inner .serv-item {
        height: 185px; } }
    @media screen and (max-width: 991px) {
      .our-services-inner .serv-item {
        margin: 0 auto; } }
    @media screen and (max-width: 767px) {
      .our-services-inner .serv-item p {
        padding: 0 5px; } }
    .our-services-inner .serv-item .serv-item-inner-img {
      display: table;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-bottom: 10px;
      border: 3px solid #ffb500;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      padding: 20px; }
    .our-services-inner .serv-item p {
      color: #584747;
      font-size: 18px; }
  .our-services-inner > [class^=col-]:nth-child(2) .serv-item {
    -webkit-animation-delay: .25s;
            animation-delay: .25s; }
  .our-services-inner > [class^=col-]:nth-child(3) .serv-item {
    -webkit-animation-delay: .35s;
            animation-delay: .35s; }
  .our-services-inner > [class^=col-]:nth-child(4) .serv-item {
    -webkit-animation-delay: .45s;
            animation-delay: .45s; }
  .our-services-inner > [class^=col-]:nth-child(5) .serv-item {
    -webkit-animation-delay: .55s;
            animation-delay: .55s; }
  .our-services-inner > [class^=col-]:nth-child(6) .serv-item {
    -webkit-animation-delay: .65s;
            animation-delay: .65s; }

@media screen and (max-width: 1199px) {
  .our-services {
    background-image: none !important; } }

@media screen and (max-width: 767px) {
  .our-services-inner {
    padding: 10px;
    width: 100%; }
  .our-services .serv-item {
    margin-bottom: 30px;
    height: 175px; }
    .our-services .serv-item .serv-item-inner-img {
      margin: 0 auto 15px auto;
      padding: 10px; }
      .our-services .serv-item .serv-item-inner-img img {
        display: block; }
    .our-services .serv-item p {
      text-align: center;
      font-size: 15px; } }

@-webkit-keyframes impulse_btn {
  0% {
    border-color: #fff5e7; }
  50% {
    border-color: #ffe5be; }
  100% {
    border-color: #fff5e7; } }

@keyframes impulse_btn {
  0% {
    border-color: #fff5e7; }
  50% {
    border-color: #ffe5be; }
  100% {
    border-color: #fff5e7; } }

.btn-go-services {
  position: relative;
  color: #584747;
  margin-top: 20px;
  padding: 15px 20px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table-cell;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  background-color: #ffa925;
  font-weight: 600;
  font-size: 1.35em;
  clear: both; }
  @media screen and (max-width: 767px) {
    .btn-go-services {
      margin: 0 auto;
      display: table; } }
  .btn-go-services:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 10px solid transparent;
    display: block;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    margin: -10px; }
  .btn-go-services:hover {
    color: #fff; }
    .btn-go-services:hover:before {
      -webkit-animation: impulse_btn 1.5s infinite;
              animation: impulse_btn 1.5s infinite;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in; }

.price {
  padding: 20px 3%;
  margin-top: 30px; }

.price-desc {
  max-width: 900px;
  margin: 0 auto 30px auto; }
  .price-desc h2, .price-desc p {
    text-align: center;
    line-height: 53px;
    font-size: 2.2em;
    text-transform: uppercase; }
  .price-desc p {
    letter-spacing: 1px; }
    .price-desc p span.red {
      font-weight: bold;
      color: #E40005; }
  @media screen and (max-width: 767px) {
    .price-desc {
      font-size: 65%; }
      .price-desc h2, .price-desc p {
        line-height: 33px; } }

@media (min-width: 1200px) and (max-width: 1500px) {
  .price-box .price-item {
    font-size: 80%; } }

@media screen and (max-width: 767px) {
  .price-box .price-item {
    font-size: 75%; } }

.price-box .price-item:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

.price-box .price-item:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; }

.price-box .price-item:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s; }

.price-box .price-item .price-item-inner {
  background-color: #f6f6f6;
  background-image: url("../img/price-item.png");
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
  max-width: 411px;
  margin: 0 auto 20px auto; }
  .price-box .price-item .price-item-inner .price__top {
    position: relative;
    padding-top: 25px;
    margin-bottom: 50px;
    z-index: 2; }
    .price-box .price-item .price-item-inner .price__top h3, .price-box .price-item .price-item-inner .price__top p {
      text-align: center;
      color: #fff; }
    .price-box .price-item .price-item-inner .price__top h3 {
      font-size: 2.2em; }
    .price-box .price-item .price-item-inner .price__top p {
      font-size: 2.6em;
      font-weight: bold; }
  .price-box .price-item .price-item-inner .price__bottom {
    padding: 50px 0 20px 0;
    z-index: 1; }
    .price-box .price-item .price-item-inner .price__bottom span {
      display: block;
      text-align: center; }
    .price-box .price-item .price-item-inner .price__bottom .strike-price {
      color: #a7a7a7;
      text-decoration: line-through;
      font-size: 2em; }
    .price-box .price-item .price-item-inner .price__bottom .new-price {
      color: red;
      font-size: 2.6em;
      font-weight: bold; }
    .price-box .price-item .price-item-inner .price__bottom .btn-price {
      color: #fff;
      padding: 10px 1.5em;
      margin: 20px auto 0 auto;
      font-size: 2.2em;
      font-weight: bold; }
  .price-box .price-item .price-item-inner:hover {
    background-image: url("../img/price-item-hover.png"); }
    .price-box .price-item .price-item-inner:hover .price__top p {
      color: red; }

.portfolio {
  margin: 4% auto; }
  .portfolio .h2-portfolio {
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 50px; }

.portfolio-list {
  position: relative; }
  .portfolio-list .owl-controls {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0; }
    .portfolio-list .owl-controls .owl-prev, .portfolio-list .owl-controls .owl-next {
      background-color: transparent !important;
      position: absolute; }
    .portfolio-list .owl-controls .owl-prev {
      left: -75px; }
    .portfolio-list .owl-controls .owl-next {
      right: -75px; }
  .portfolio-list .carouselPrev, .portfolio-list .carouselNext {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 145px;
    background-position: 30px -125px; }
  .portfolio-list .carouselPrev {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    left: -100px; }
  @media screen and (min-width: 992px) {
    .portfolio-list .owl-pagination {
      display: none; } }

@media screen and (max-width: 991px) {
  .portfolio-list .owl-controls {
    position: static; }
  .portfolio-list .owl-buttons {
    display: none; } }

.portfolio-item img {
  display: table;
  margin: 0 auto; }

.form-box {
  position: absolute;
  top: 11%;
  right: 0;
  bottom: auto;
  left: 11%;
  margin-top: 30px;
  z-index: 3;
  background: #fff;
  width: 100%;
  padding: 60px 30px 70px 30px;
  max-width: 570px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .form-box {
      font-size: 80%; } }
  .form-box .form-close {
    position: absolute;
    top: 15px;
    right: 20px;
    bottom: auto;
    left: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: none;
    font-size: 45px;
    cursor: pointer;
    -webkit-transition: all .7s linear;
    transition: all .7s linear; }
    .form-box .form-close:hover {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }
    @media screen and (max-width: 767px) {
      .form-box .form-close {
        top: 50px; } }
  .form-box:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border: 30px solid rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin: -15px;
    z-index: -1; }
  .form-box .h4-form {
    color: red;
    text-transform: uppercase;
    font-size: 2.3em; }
  .form-box .p-form {
    color: #262626;
    text-transform: uppercase;
    line-height: 38px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px; }
  .form-box .main-form input, .form-box .main-form textarea {
    line-height: 60px;
    height: 60px;
    color: #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #b9b9b9;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    width: 100%;
    margin-bottom: 25px;
    display: block;
    font-size: 1.5em; }
  .form-box .main-form input {
    width: 100%;
    padding-left: 80px;
    padding-right: 20px; }
    .form-box .main-form input:focus {
      border-color: #ff9999; }
  .form-box .main-form label {
    width: 100%;
    display: block;
    position: relative; }
    .form-box .main-form label:before {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: auto;
      left: 25px;
      margin-top: -14.5px;
      content: ''; }
    .form-box .main-form label:after {
      position: absolute;
      top: 50%;
      right: 15px;
      bottom: 0;
      left: auto;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      margin-top: -10px;
      font-size: 32px;
      content: '*';
      color: #e4e4e4; }
  .form-box .main-form label.ico-user:before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 29px;
    height: 29px;
    background-position: -167px -69px; }
  .form-box .main-form label.ico-tel:before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 29px;
    height: 29px;
    background-position: -163px -98px; }
  .form-box .main-form label.ico-mail:before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 29px;
    height: 29px;
    background-position: -167px -40px; }
  .form-box .main-form .required-box {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: table; }
    .form-box .main-form .required-box .required-text {
      color: red;
      line-height: 25px;
      font-size: 15px; }
      .form-box .main-form .required-box .required-text:before {
        content: '*\00a0';
        font-size: 30px;
        vertical-align: text-top; }
  .form-box .main-form .btn-form {
    color: #fff;
    font-size: 2.3em;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 55px auto 0 auto;
    font-weight: bold; }
    @media screen and (max-width: 767px) {
      .form-box .main-form .btn-form {
        font-size: 1.6em; } }
    .form-box .main-form .btn-form:after {
      content: '\00a0→'; }
  .form-box.modal {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    visibility: visible !important;
    display: table-cell;
    margin: 0 auto;
    z-index: 701; }
    @media screen and (max-width: 991px) {
      .form-box.modal .p-form {
        margin-bottom: 5px;
        line-height: 28px; }
      .form-box.modal input {
        line-height: 40px;
        height: 40px;
        margin-bottom: 10px; }
      .form-box.modal .btn-form {
        margin-top: 20px; } }
    .form-box.modal .form-close {
      display: table !important; }

.footer-box {
  position: relative;
  background-image: url("../img/bg-footer.jpg");
  height: 1219px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.footer-inner {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 70px 0 30px 0; }

.footer {
  color: #fff; }

@media screen and (max-width: 991px) {
  .footer-box {
    height: auto; }
  .form-box, .footer-inner {
    position: static; }
  .form-box {
    margin: 25px auto; } }

.footer-inner-1 li {
  line-height: 28px; }
  .footer-inner-1 li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 20px; }
    .footer-inner-1 li a:before {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      margin: 0 auto;
      width: 0%;
      height: 1px;
      background: #fff;
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out; }
    .footer-inner-1 li a:hover:before {
      width: 100%; }

.footer-inner-2 .mails-link {
  line-height: 26px;
  padding-left: 35px; }
  .footer-inner-2 .mails-link a {
    position: relative;
    color: #fff;
    font-size: 17px;
    text-decoration: none; }
    .footer-inner-2 .mails-link a:hover {
      text-decoration: underline; }
  .footer-inner-2 .mails-link a.skype-link:before {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: 0;
    left: -35px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 26px;
    height: 26px;
    background-position: -137px -82px;
    margin-top: -13px;
    content: '';
    float: left; }

.footer-inner-2 .address {
  margin-top: 15px;
  font-style: normal;
  font-size: 19px; }

.footer-inner-3 {
  max-width: 185px;
  display: table; }
  .footer-inner-3 li {
    display: inline-block; }
    .footer-inner-3 li .sprite-youtube {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 56px;
      height: 40px;
      background-position: -167px 0; }
    .footer-inner-3 li .sprite-inst {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 56px;
      height: 40px;
      background-position: -56px -82px; }
    .footer-inner-3 li .sprite-google {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 56px;
      height: 40px;
      background-position: 0 -82px; }
    .footer-inner-3 li .sprite-fb {
      margin-top: 15px;
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 167px;
      height: 56px;
      background-position: 0 -26px; }

.footer-inner-4 {
  float: right;
  clear: both; }
  .footer-inner-4 li {
    line-height: 32px; }
    .footer-inner-4 li a {
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 26px;
      font-weight: bold; }
      .footer-inner-4 li a:before {
        content: '';
        position: absolute;
        top: 50%;
        right: -20px;
        bottom: 0;
        left: -35px;
        margin-top: -10px;
        float: left; }
      .footer-inner-4 li a:hover {
        text-decoration: underline; }
    .footer-inner-4 li .sprite-life:before {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 20px;
      height: 20px;
      background-position: -98px 0; }
    .footer-inner-4 li .sprite-kiev:before {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 20px;
      height: 20px;
      background-position: -78px 0; }
    .footer-inner-4 li .sprite-phone:before {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: block;
      width: 20px;
      height: 20px;
      background-position: -144px 0; }

@-webkit-keyframes heartbeating {
  0% {
    color: #E40005; }
  50% {
    color: #ff7e81; }
  100% {
    color: #E40005; } }

@keyframes heartbeating {
  0% {
    color: #E40005; }
  50% {
    color: #ff7e81; }
  100% {
    color: #E40005; } }

.easter-zone {
  float: right;
  clear: both;
  margin-top: 10px; }
  .easter-zone span {
    display: inline-block;
    float: left; }
    .easter-zone span:before, .easter-zone span:after {
      line-height: 38px; }
  .easter-zone .easter-coffe:after {
    content: '';
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 26px;
    height: 26px;
    background-position: -52px 0;
    float: right; }
  .easter-zone .easter-coffe:before {
    content: 'сделано с '; }
  .easter-zone .easter-music:before {
    content: '';
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 26px;
    height: 26px;
    background-position: -118px 0;
    float: left; }
  .easter-zone .easter-music:after {
    content: '\00a0и\00a0';
    float: right; }
  .easter-zone .easter-heart {
    font-size: 22px;
    color: #E40005;
    -webkit-animation: heartbeating 2s infinite ease;
            animation: heartbeating 2s infinite ease; }

@media screen and (max-width: 991px) {
  .footer-inner-1, .footer-inner-2, .footer-inner-3, .footer-inner-4, .easter-zone {
    display: table;
    margin: 15px auto; }
  .footer-inner-4, .easter-zone {
    float: none; } }
