
.icon-basket:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */